<div class="main">
  <div class="title_arrow">
    <img (click)="back()" src="assets/icons_inside/backa.png" alt="">
    <h1>Aspetto</h1>
  </div>
  <div class="text_inside">
    <p>Le impostazioni si applicano solo a questo browser</p>
  </div>

  <div class="select_option">
    <div class="one select_inside">
      <img src="assets/icons_inside/check.png" alt="">
      <label for="dispositivo">Utilizza tema del dispositivo</label>
    </div>
    <div class="two select_inside">
      <img src="assets/icons_inside/check.png" alt="">
      <label for="dispositivo">Tema scuro</label>
    </div>
    <div class="three select_inside">
      <img src="assets/icons_inside/check.png" alt="">
      <label for="dispositivo">Tema chiaro</label>
    </div>

  </div>

</div>
