<nav [class.flexMedia]="media_input_boolean">

  <div class="logo_and_hamb" [class.removeAll]="media_input_boolean">
    <div class="hamb_menu_container">
      <img class="hamb_menu" src="assets/icons_svg/hamburger.png" alt="">
    </div>

    <img class="yt_logo" src="assets/icons_svg/yt_logo.png" alt="">
  </div>
  <div class="search_and_mic" [class.addInputSize]="search_input_boolean" [class.removeAll]="media_input_boolean">

    <div class="before_input_search" [class.before_input_search_none]="search_input_boolean">
      <button><img class="inv_search" src="assets/icons_svg/search.svg" alt=""></button>
    </div>
    <input type="text" [class.remove_border]="!search_input_boolean" placeholder="Cerca" (focus)="add()"
      (focusout)="remove()">


    <div class="button_search">
      <button (click)="mediaAddClass()" class="button_search_img"><img src="assets/icons_svg/search.svg"
          alt=""></button>
    </div>
    <div class="mic_class_search">
      <img class="mic_search" src="assets/icons_svg/mic.svg" alt="">
    </div>
  </div>

  <div class="account_login" [class.removeAll]="media_input_boolean">
    <div class="squares_container">
      <img class="app_youtube" src="assets/icons_svg/squares.svg" alt="">
    </div>
    <div class="dot_containter">
      <img (click)="menuInside()" class="dot_login" src="assets/icons_svg/dots_.png" alt="">
    </div>
    <div *ngIf="menuimp" class="inside_menu">
      <app-inside-menu></app-inside-menu>
    </div>

    <div class="block_account_blue" [class.removeAll]="media_input_boolean">
      <div class="img_and_text">
        <img src="assets/icons_svg/account.svg" alt="">
        <h1>ACCEDI</h1>
      </div>

    </div>
  </div>

  <div *ngIf="media_input_boolean" class="media_q_flex">
    <div class="arrow_img" (click)="mediaAddClass()">
      <img src="assets/icons_svg/arrow.png" alt="">
    </div>

    <div class="search_inv_absolute" [class.inv_visibile]="!search_input_boolean">
      <span><button id="change_color"><img src="assets/icons_svg/search.svg" alt=""></button></span>
    </div>


    <div class="input_side">
      <input type="text" placeholder="Cerca" [class.remove_border_two]="!search_input_boolean" (focus)="add()"
        (focusout)="remove()">
      <span><button><img src="assets/icons_svg/search.svg" alt=""></button></span>
    </div>

    <div class="mic_after_input">
      <img src="assets/icons_svg/mic.svg">
    </div>

  </div>






</nav>
